 <header id="site-header" class="group" role="banner">

    

    <div id="header_margin">    <div class="header-container group">
      
      <hgroup id="header-title">
        <a href="http://www.geeklyinc.com"><img src="http://www.geeklyinc.com/images/logo_small.png" alt="GeeklyInc" id="logo" /></a>
      </hgroup>
      
      
          <nav id="access" class="group" role="navigation">
            <h1 class="assistive-text section-heading">Main menu</h1>
            <div class="skip-link screen-reader-text"><a href="#content" title="Skip to content">Skip to content</a></div>
            <div class="menu-global-container">
                        <div id="menu-global-sub">
                        <ul id="menu-global" class="sf-menu">
                        
                        <li class="main_nav_item" id="podcast_btn"><a href="http://www.geeklyinc.com/category/podcast/"><img src="http://www.geeklyinc.com/images/mic.png" alt="Podcasts"><br>Podcasts</a></li>
                        
                        <li class="main_nav_item"><a href="http://www.geeklyinc.com/category/video-games/"><img src="http://www.geeklyinc.com/images/games.png" alt="Video Games"><br>Video<br />Games</a></li>
                        <li class="main_nav_item"><a href="http://www.geeklyinc.com/category/tabletop/"><img src="http://www.geeklyinc.com/images/dice.png" alt="Table Top"><br>Tabletop</a></li>
                        <li class="main_nav_item"><a href="http://www.geeklyinc.com/category/tv-and-movies/"><img src="http://www.geeklyinc.com/images/tv.png" alt="TV and Movies"><br>TV and<br />Movies</a></li>
                        <li class="main_nav_item"><a href="http://www.geeklyinc.com/category/reading/"><img src="http://www.geeklyinc.com/images/reading.png" alt="Reading">Reading</a></li>
                        <li class="main_nav_item"><a href="http://www.geeklyinc.com/wiki"><img src="http://www.geeklyinc.com/images/internet.png" alt="Wiki"><br>Wiki</a></li>
                        <li class="main_nav_item"><a href="http://www.geeklyinc.com/forums"><img src="http://www.geeklyinc.com/images/forums.png" alt="Forums"><br>Forums</a></li>
                        <li class="main_nav_item"><a href="http://www.geeklyinc.com/shop"><img src="http://www.geeklyinc.com/images/store.png" alt="Store"><br>Shop</a></li>

                        
                        
                        
                        <li><aside id="header-search" class="group">
      <form method="get" id="searchform" action="http://geeklyinc.com/">
        <div>
          <input type="text" size="put_a_size_here" name="s" id="s" value="Search..." onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;"/>
          <input type="image" src="http://geeklyinc.com/wp-content/themes/geeklyinc-bootstrap/images/header-search.png" id="searchsubmit" />
        </div>
      </form>
            
    </aside></li>
                        </ul><div style="clear: both;"></div></div>
                        
                        <div class="sub_menu">
                        <img src="http://www.geeklyinc.com/images/uparrow.png" class="uparrow" />
                        
                          <ul>
                              <li><a href="http://www.geeklyinc.com/category/cast-of-thrones/"><img src="http://geeklyinc.com/nav_cot.png"><br />Cast of Thrones</a></li>
                                <li><a href="http://www.geeklyinc.com/category/caf-podcast/"><img src="http://geeklyinc.com/nav_caf.png"><br />Cthulhu & Friends</a></li>
                                <li><a href="http://www.geeklyinc.com/category/drunks-and-dragons/"><img src="http://geeklyinc.com/nav_dnd.png"><br />Drunks and Dragons</a></li>
                                <li><a href="http://www.geeklyinc.com/category/random-encounters/"><img src="http://geeklyinc.com/nav_re.png"><br />Random Encounters</a></li>
                                <li><a href="http://www.geeklyinc.com/category/sayer/"><img src="http://geeklyinc.com/nav_sayer.png"><br />SAYER</a></li>
                                <li><a href="http://www.geeklyinc.com/category/top-5-of-death/"><img src="http://geeklyinc.com/images/top5.png"><br />Top 5 of Death</a></li>
                                
                                
                            </ul>
                            <div style="clear: both;"></div>
                        </div>
                        
                        
                        </div>   
                        
                        
  
                    
               
               
               
               <div id="menu_mobile">
  <ul>
    <li><img src="http://www.geeklyinc.com/images/drop_menu.png" alt="Navigation" id="menu_mobile_img">
    
    <aside id="header-search" class="group">
      <form method="get" id="searchform" action="http://geeklyinc.com/">
        <div>
          <input type="text" size="put_a_size_here" name="s" id="s" value="Search..." onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;"/>
          <input type="image" src="http://geeklyinc.com/wp-content/themes/geeklyinc-bootstrap/images/header-search.png" id="searchsubmit" />
        </div>
      </form>
            
    </aside>
    
    </li>
  </ul>
 
  
  
  <div id="menu_mobile_main">
    <ul id="menu_mobile_main_ul">
              
                        <li id="mobile_podcast_link"><img src="http://www.geeklyinc.com/images/mic_sm.png" alt="Podcasts" class="menu_mobile_main_img">Podcasts <img src="http://www.geeklyinc.com/images/rightarrow.png" alt="Podcasts" class="podcast_arrow"></li>
                        
                        <li><a href="http://www.geeklyinc.com/category/video-games/"><img src="http://www.geeklyinc.com/images/games_sm.png" alt="Video Games" class="menu_mobile_main_img">Video Games</a></li>
                        <li><a href="http://www.geeklyinc.com/category/tabletop/"><img src="http://www.geeklyinc.com/images/dice_sm.png" alt="Table Top" class="menu_mobile_main_img">Tabletop</a></li>
                        <li><a href="http://www.geeklyinc.com/category/tv-and-movies/"><img src="http://www.geeklyinc.com/images/tv_sm.png" alt="TV and Movies" class="menu_mobile_main_img">TV and Movies</a></li>
                        <li><a href="http://www.geeklyinc.com/category/reading/"><img src="http://www.geeklyinc.com/images/reading_sm.png" alt="Reading" class="menu_mobile_main_img">Reading</a></li>
                        <li><a href="http://www.geeklyinc.com/wiki"><img src="http://www.geeklyinc.com/images/internet_sm.png" alt="Wiki" class="menu_mobile_main_img">Wiki</a></li>
                        <li><a href="http://www.geeklyinc.com/forums"><img src="http://www.geeklyinc.com/images/forums_sm.png" alt="Forums" class="menu_mobile_main_img">Forums</a></li>
                        <li><a href="http://www.geeklyinc.com/shop"><img src="http://www.geeklyinc.com/images/store_sm.png" alt="Store" class="menu_mobile_main_img">Shop</a></li>
                    </ul>
               </li>
               </ul></div>
               
               <ul id="mobile_podcast">
                    <li><a href="http://www.geeklyinc.com/category/cast-of-thrones/">Cast of Thrones</a></li>
                    <li><a href="http://www.geeklyinc.com/category/caf-podcast/">Cthulhu & Friends</a></li>
                    <li><a href="http://www.geeklyinc.com/category/drunks-and-dragons/">Drunks and Dragons</a></li>
                    <li><a href="http://www.geeklyinc.com/category/random-encounters/">Random Encounters</a></li>
                    <li><a href="http://www.geeklyinc.com/category/sayer/">SAYER</a></li>
                    <li><a href="http://www.geeklyinc.com/category/top-5-of-death/">Top 5 of Death</a></li>
                                
                                
                    
                </ul>
  
</div>
 
                                               
          </nav><!-- #access -->
              
    </div><!-- .header-container -->
    </div><!-- #header_margin or #header_image_margin -->

    
    

      
  </header><!-- #site-header -->