<p>
  <strong>Title:</strong>
  <%= @boardgame.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @boardgame.description %>
</p>
<p>
  <%= link_to 'Edit', edit_boardgame_path(@boardgame) %> |
  <%= link_to 'Back', boardgames_path %>
</p>